/* ADAPTIVE Here */

@media (max-width:1028px) {
    .slider{
        display: block;
        width: 270px !important;
        height: 300px;
    }
    .slider-prev,
    .slider-next{
        display: block;
        
    }
    .section-review__reviews{
        display: none;
    }
}

@media (max-width:822px) {
    /* .promo__info{
        display: none;
    } */
    .section-top__promo{
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
    }
    .promo__info{
        margin-bottom: 30px;
        text-align: center;
    }
    .section-top{
        height: 120vh;
    }
    /* .promo__calc{
        width: 100%;
    } */
    .calc__form{
        width: 70%;
        margin: 0 auto;
    }
}

@media (max-width: 756px) {
    .section-trust__header,
    .section-review__header{
        font-size: 30px;
        text-align: center;
        width: auto;
    }
    .calc__header{
        width: auto;
    }
    .banner__banner{
        flex-direction: column;
    }
    .banner__header{
        text-align: center;
    }
    .banner__text{
        margin: 0 auto;
    }
    .banner__img{
        width: 100%;
    }
}
 
@media (max-width:710px) {
    .calc__form{
        width: 100%;
        padding: 15px;
    }
}

@media (max-width:420px) {
    .header__inner{
        flex-direction: column;
    }
    .promo__header{
        font-size: 28px;
    }
    .slider-prev,
    .slider-next{
        width: 30px;
        height: 30px;
    }
    .calc__header{
        font-size: 22px;
        font-weight: 900;
    }
    .section-trust__header,
    .section-review__header{
        font-size: 24px;
    }
    .banner__text{
        width: 100%;
        padding: 30px 10px;
    }
    .banner__header{
        line-height: 1;
        font-size: 25px;
    }
    .banner__btn{
        margin-top: 15px;
    }
}