.section-review{
    padding-top: 100px;
    background-color: #f8f8f8;
    overflow: hidden;
    padding-bottom: 100px;
}
.section-review__header{
    max-width: 375px;
    margin: 0 auto;
    font-size: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.section-review__reviews{
    display: flex;
    column-gap: 30px;
    row-gap: 60px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 85px;
}
.reviews__review,
.reviews__review-sl{
    width: 330px;
    /* height: 270px; */
    height: auto;
    min-width: 270px;
    min-height: 270px;
    background: white;
    padding: 0 25px 25px 25px;
    text-align: center;
    border: 1px solid #ebebeb;
    border-radius: 7px 7px;
    box-shadow: rgb(33 33 33 / 6%) 0 4px 24px 5px;
}
.reviews__review{
    position: relative;
    margin: 0 100px;
}
.review__img-block{
    width: 100px;
    height: 100px;
    position: absolute;
    overflow: hidden;
    border: 5px solid #efefef;
    border-radius: 50% 50%;
    left: 35%;
    top: -25%;
}

.review__name{
    font-size: 15px;
    margin: 35px auto;
    margin-top: 56px;
}
.review__text{
    color: #61908a;
    font-size: 18px;
    font-style: italic;
}

.slider__container{
    /* display: flex; */
    display: none;
    min-width: 0;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px;
    margin-top: 100px;
    padding: 0 20px;
}
.slider-line{
    display: flex;
    transition: all ease 1s;
}
.slider{
    display: none;
    /* border: 2px solid black; */
    /* width: 100%; */
    max-width: 80%;
    width: 270px;
    height: 300px;
    /* height: 300px; */
    margin: 20px auto;
    overflow: hidden;
}
.reviews__review-sl{
    width: 270px;
}
.slider-prev,
.slider-next{
    display: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #007aff;
    border: 0;
}

.slick-track{
    display: flex;
    align-items: flex-start;
    column-gap: 500px;
}

.slider__container .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.slider__container .slick-dots li{
    list-style: none;
    margin: 0 10px;
}
.slider__container .slick-dots button{
    font-size: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    /* background-color: #007aff; */
    background-color: rgb(122, 113, 113);
    border: 0;
}
.slider__container .slick-dots li.slick-active button{
    background-color: #007aff;
}